<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>sesionVerificaServlet</servlet-name>
        <servlet-class>logicaNegocio.sesionVerificaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sesionClase</servlet-name>
        <servlet-class>logicaNegocio.sesionClase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>miClaseConexion</servlet-name>
        <servlet-class>accesoDatos.miClaseConexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mantenimientoUsuarioClase</servlet-name>
        <servlet-class>logicaNegocio.mantenimientoUsuarioClase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mantenimientoUsuarioMetodos</servlet-name>
        <servlet-class>logicaNegocio.mantenimientoUsuarioMetodos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mantenimientoUsuarioServlet</servlet-name>
        <servlet-class>logicaNegocio.mantenimientoUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mantenimientoUsuarioServletBuscar</servlet-name>
        <servlet-class>logicaNegocio.mantenimientoUsuarioServletBuscar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sesionVerificaServlet</servlet-name>
        <url-pattern>/sesionVerificaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sesionClase</servlet-name>
        <url-pattern>/sesionClase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>miClaseConexion</servlet-name>
        <url-pattern>/miClaseConexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mantenimientoUsuarioClase</servlet-name>
        <url-pattern>/mantenimientoUsuarioClase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mantenimientoUsuarioMetodos</servlet-name>
        <url-pattern>/mantenimientoUsuarioMetodos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mantenimientoUsuarioServlet</servlet-name>
        <url-pattern>/mantenimientoUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mantenimientoUsuarioServletBuscar</servlet-name>
        <url-pattern>/mantenimientoUsuarioServletBuscar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
